<div class="container-fluid bg-success text-light">
    <div class="row g-0 ">
        <div class="col-md-4 p-2">
            <h1><i class="fa-solid fa-kitchen-set me-2"></i> Cookpedia</h1>
            <p>Discover 100+ recipes. Help you to find the easiest way to cook</p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 p-2">
            <h1>Sign up for our news letters</h1>
            <input type="email" name="" id="" class="mt-2 w-75 py-2 border rounded" placeholder="Enter your email">
            <button class="ms-2 mt-1 btn btn-outline-light py-2">subscribe</button>
            <div class="row g-0 mt-3 text-justify d-flex justify-content-between ">
                <div class="col-md-3 ">
                    <h3>Menu</h3>

                    <p>Home</p>
                    <p>About</p>
                    <p>Contact</p>

                </div>
                <div class="col-md-3 ">
                    <h3>Help</h3>

                    <p>Privacy&Policy</p>
                    <p>Terms of use</p>
                </div>
                <div class=" col-md-3">
                    <h3>Social</h3>

                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>Twitter</p>
                    <p>YouTube</p>
                </div>
            </div>
        </div>
    </div>
</div>