<app-header></app-header>

 <div class="container">
    <!-- image and welcome heading section  -->
     <div class="row g-0 mb-5">
        <div class="col-md-6 bg-success">
            <img src="vegitable_basket.png" alt="no image" class="p-3" style="width: 100%; height: 350px;">
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <h1>Welcome To Cookpedia</h1>
            <p class="mt-2">Discover 100+ recipes in your hand with the best recipe. <br> Helps you to find easiest way to cook</p>
        </div>
     </div>
     <!-- about us section  -->
      <div class="row g-0 mb-5">
        <div class="col-md-6 mt-3">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perspiciatis fugit doloribus ea quos deserunt fuga repudiandae harum quidem. Est obcaecati alias tempore saepe assumenda debitis molestiae quas quo. Maiores?</p>
            <ul class="mt-5">
                <li class="mt-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </li>
                <li class="mt-2">
                    Necessitatibus perspiciatis fugit doloribus ea quos deserunt
                </li>
                <li class="mt-2">
                    doloribus ea quos deserunt fuga repudiandae harum quidem.
                </li>
                <li class="mt-2">
                    Est obcaecati alias tempore saepe assumenda debitis molestiae quas quo
                </li>
            </ul>
            <div>
                <button type="button" class="btn btn-success mt-2">Know more about us</button>
            </div>
        </div>
        <div class="col-md-6 px-2">
            <img src="chef_image.png" alt="no image" style="width: 100%; height: 400px;">
        </div>
      </div>
 </div>
