<app-header></app-header>
<div class="container" >
    <div class="bg-success d-flex justify-content-center align-items-center flex-column p-5 text-light" style="height: 300px;">
        <h1>Contact Us</h1>
        <p class="text-center mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur amet rerum explicabo quaerat sequi! <br> Vel quibusdam alias, doloremque natus nam quo tempora ullam dicta necessitatibus id cum enim porro fugit.</p>
    </div>
</div>

<div class="comtainer my-5">
     <div class="row g-0">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h1>Get In Touch</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa consequuntur minus dolore maxime tempore eos dolorum voluptatem ipsam harum repellendus ducimus unde itaque, nulla eius mollitia esse excepturi alias voluptate?</p>
            <div class="d-flex mt-5">
                <div class="bg-success text-light d-flex justify-content-center align-items-center" style="height: 40px;width: 40px; border-radius: 50%;"><i class="fa-solid fa-location-crosshairs fs-3"></i></div>
                <div class="ms-2">
                    <h5>Address</h5>
                    <p>NYC 3569 , PO Berlin</p>
                </div>
            </div>
             <div class="d-flex mt-5">
                <div class="bg-success text-light d-flex justify-content-center align-items-center" style="height: 40px;width: 40px; border-radius: 50%;"><i class="fa-solid fa-envelope"></i></div>
                <div class="ms-2">
                    <h5>Email</h5>
                    <p>{{email}}</p>
                </div>
            </div>
             <div class="d-flex mt-5">
                <div class="bg-success text-light d-flex justify-content-center align-items-center" style="height: 40px;width: 40px; border-radius: 50%;"><i class="fa-solid fa-phone"></i></div>
                <div class="ms-2">
                    <h5>Phone</h5>
                    <p>98706 78903</p>
                </div>
            </div>
            <hr/>
            <h4>Follow Us</h4>
            <div class="d-flex mt-3">
                <div class="bg-success text-light d-flex justify-content-center align-items-center ms-3 me-3" style="height: 40px;width: 40px; border-radius: 50%;"><i class="fa-brands fa-instagram fs-3"></i></div>
                <div class="bg-success text-light d-flex justify-content-center align-items-center me-3" style="height: 40px;width: 40px; border-radius: 50%;"><i class="fa-brands fa-facebook fs-3"></i></div>
                <div class="bg-success text-light d-flex justify-content-center align-items-center me-3" style="height: 40px;width: 40px; border-radius: 50%;"><i class="fa-brands fa-x-twitter fs-3"></i></div>
                <div class="bg-success text-light d-flex justify-content-center align-items-center" style="height: 40px;width: 40px; border-radius: 50%;"><i class="fa-brands fa-youtube fs-3"></i></div>
                
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <form class="p-3 border rounded shadow w-75">
                <h2 class="text-center">Client testimonial</h2>
                <div class="mb-4">
                    <input type="text" placeholder='Name' class="form-control">
                </div>
                <div class="mb-4">
                    <input type="email" placeholder='Email' class="form-control">
                </div>
                <div class="mb-4">
                    <textarea cols="3" class="form-control" placeholder="Message"></textarea>
                </div>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sequi, magni, sunt iste dolorem culpa quos dolor eum quod repellendus facilis sit similique. Tempore labore cumque doloremque? Sit, corporis ab?</p>
                <div class="mb-4 d-flex justify-content-end align-items-center">
                    <button class="btn btn-success px-4 py-2">Submit</button>
                </div>
                
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="container mb-5 p-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62865.55832720868!2d76.30948078080196!3d10.00881346468483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080c8e94a07a07%3A0x49921cdfae82660!2sKakkanad%2C%20Kerala!5e0!3m2!1sen!2sin!4v1749003134679!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
